{% extends "base.html" %}
{% block contents %}
<!-- <div class="card w-30 h-30">
  <img class="w-20 h-30" src="{{p.image.url}}" alt="image loading..." style="width:100%">
  <h1>{{p.name}}</h1>
  <p class="price">₹{{p.price }}</p>
  <p>{{p.desc}}</p>
  <p><button>Add to Cart</button></p>
</div> -->
<div class="card w-96 bg-base-100 shadow-xl">
  <figure><img src="{{p.image.url}}" alt="Shoes" /></figure>
  <div class="card-body">
    <h2 class="card-title">{{p.name}}</h2>
    <p>{{p.desc}}</p>
    <div class="card-actions justify-end">
      <button class="btn btn-primary">₹{{p.price}}</button>
    </div>
  </div>
</div>
{% endblock %}